    <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="/translation">Translation</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/language-understanding">Language Understanding</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/text-analysis">Text Analysis</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/face-recognition">Face Recognition</a>
          </li>
        </ul>
      </div>
    </nav>